<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
    <link rel="stylesheet" th:href="@{/css/header.css}"></link>
    <script src="../static/js/utils.js" th:src="@{/js/utils.js}"></script>
</head>

<body>
    <div class="layout-header" onload="onHeaderLoad()">
        <a href="/home">
            <img src="../static/assets/images/home_icon.png" th:src="@{/assets/images/home_icon.png}" style="height: 2rem; aspect-ratio: 1/1; object-fit: contain; filter: invert();"></image>
        </a>
        <a href="/students" class="link" style="color: white;">
            Student List
        </a>
        <div class="layout-button" onclick="navigateToAccountPage()">
            My Account
        </div>
    </div>
    <h2 style="text-align: center;">Students</h2>
    <div th:unless="${#lists.isEmpty(students)}" class="student-list-container">
        <dl th:each="student : ${students}" class="student-list-card" style="position: relative;">
            <dt style="font-weight: 100; letter-spacing: 1px">
                <span th:text="${student.studentFirstName}">Name</span>
                <span th:text="${student.studentLastName}">Name</span>
            </dt>
            <div class="divider"></div>
            <dt style="font-weight: 300; letter-spacing: 1px; font-size: 1rem; cursor: pointer; display: flex; gap: 0.25rem;" onclick="copy(this.children[0])">
                <span th:text="${student.studentEmail}">Email</span>
                <image src="../static/assets/images/copy_icon.png" th:src="@{/assets/images/copy_icon.png}" id="copy-icon" style="height: 1rem; aspect-ratio: 1/1; object-fit: contain; filter: invert();"></image>
            </dt>
            <span th:if="${student.activities.size() <= 0}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 1.5rem; font-weight: 300; letter-spacing: 1px; color: #999999;">No activities</span>
            <div th:if="${student.activities.size() > 0}" class="student-card-activity-container">
                <span>Currently <span th:if='${student.activities[0].type == "School"}'>In School</span><span th:if='${student.activities[0].type == "Work"}'>Working</span></span>
                <div style="font-size: 1rem; opacity: 0.95; text-align: center">
                    <span th:text='${"At " + student.activities[0].title}'>title</span> <br />
                    <span th:text='${"Since " + student.activities[0].startDate}'>startDate</span>
                </div>
            </div>
        </dl>
    </div>
    <div th:if="${#lists.isEmpty(students)}">
        <p>There are currently no students registered. If you believe this is an error, please check back later.</p>
    </div>
</body>

</html>
